# Server Configuration
PORT=3000

# MongoDB Configuration
MONGODB_HOST=db
MONGODB_PORT=27017
MONGODB_DB_NAME=videostore
MONGO_USERNAME=root
MONGO_PASSWORD=password

# Environment
NODE_ENV=development
